# Model Building Requirements
numpy
pandas
# stockstats
scikit-learn
# stable-baselines3[extra]
torch
gym
joblib
pytest
setuptools
wheel
ipython

# Installing scraper, requests, and AWS dependencies
beautifulsoup4
requests
boto3
s3fs



